.show-body{
    margin-top: 10px;
}
.show-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}
.card-wrapper{
    width:80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-gap: 8px;
}
.result-wrapper{
    width:17%;
}